.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 1rem;
}

.logoInsta {
  width: 2.5rem;
}
.logofacebook {
  width: 4.5rem;
}
.logoyoutube {
  width: 3rem;
}
