* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
}
html {
  position: relative;
}
.appContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-width: 100vw;
}
